.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 36px;
  padding: 0 16px;
  border: 1px solid #1618231f;
  border-radius: 2px;
  background: rgba(255, 255, 255, 1);
  color: rgba(22, 24, 35, 1);
  cursor: pointer;
  user-select: none;
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.title {
  min-width: 52px;
  height: 24px;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}