@import 'normalize.css';

// Font embedded
@font-face {
  font-family: ProximaNova;
  font-weight: 400;
  src: url('../../assets/fonts/ProximaNova-regular.woff2') format('woff2');
}

@font-face {
  font-family: ProximaNova;
  font-weight: 600;
  src: url('../../assets/fonts/ProximaNova-semibold.woff2') format('woff2');
}

@font-face {
  font-family: ProximaNova;
  font-weight: 700;
  src: url('../../assets/fonts/ProximaNova-bold.woff') format('woff');
}

@font-face {
  font-family: Sofiapro;
  font-weight: 600;
  src: url('../../assets/fonts/Sofiapro-semibold.otf') format('opentype');
}

@font-face {
  font-family: Sofiapro;
  font-weight: 700;
  src: url('../../assets/fonts/Sofiapro-bold.woff') format('woff');
}

// Reset css
:root {
  --primary-color: #fe2c55;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  body {
    overflow: hidden scroll;
    font-size: 1.6rem;
  }
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
}

// custom scrollbar
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, .06);
}