.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 224px;
  height: 48px;
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  text-decoration: none;

  .icon {
    width: 32px;
    height: 32px;
  }

  .title {
    color: #161823;
    font-family: ProximaNova;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-left: 8px;
  }
}

.container:hover {
  background: rgba(22, 24, 35, .03);
}

.container:active {
  .icon {
    fill: rgba(254, 44, 85, 1);
  }

  .title {
    color: rgba(254, 44, 85, 1);
  }
}