.wrapper {
  width: 500px;
  height: 46px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 12px 16px;
  border-radius: 92px;
  background: rgba(22, 24, 35, .06);

  .input {
    width: 391px;
    height: 22px;
    font-family: ProximaNova;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    background: transparent;
    color: rgba(22, 24, 35, 1);
    caret-color: rgba(254, 44, 85, 1);
    appearance: textfield;
  }

  .icon {
    width: 40px;
    height: 16px;
  }

  .spliter {
    width: 1px;
    height: 28px;
    margin: -3px 0;
    background: rgba(22, 24, 35, .12);
  }

  .btn {
    width: 52px;
    height: 46px;
    padding: 9px 16px 9px 12px;
    margin-right: -16px;
    border-radius: 0 92px 92px 0;
    background: transparent;

    &-icon {
      width: 24px;
      height: 24px;
      color: rgba(22, 24, 35, .34);
    }
  }

  .btn:hover {
    cursor: pointer;
    fill: rgba(22, 24, 35, 1);
    background-color: rgba(22, 24, 35, .06);
  }
}

.container:hover {
  border: 1px solid rgba(22, 24, 35, .06);
}

// guess popover
.guess-popover {
  width: 500px;
  max-height: 460px;
  padding-top: 8px;
  margin-top: 8px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 1);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
  overflow: hidden auto;
  list-style-type: none;

  .guess-list {
    font-family: ProximaNova;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;

    &__title {
      padding: 5px 12px 3px;
      color: rgba(22, 24, 35, 0.75);
    }
  }
}